body {
  background-color: #8799ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.wrapper {
  background-color: white;
  width: 420px;
  height: 378px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:10;
}


.card-image {
    width: 410px;
    height: 282px;
    border-radius: var(--Radius--lg, 12px);
    background: linear-gradient(
    180deg,
    rgba(242, 7, 144, 0.4) -9.58%,
    rgba(0, 85, 255, 0.4) 126.62%
  );
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    overflow: hidden;
  

  }
  #poly{
    position: relative;
    top: 70px;
    left: 60px;
    /* display: block; */
   
  }
   #poly2{
    display:none;
   }
  #logo1{
    position: relative;
    top: 115px;
    left: 70px;
    z-index: 10;
 
  }
  #vector{
    display: none;
  }
.stars1{
    position: relative;
    top:15px;
    left:68px;
    transition: 1 ease;
}
.stars2{
    position: relative;
    right:100px;
    bottom: 90px;
    
}
.wrapper:hover{
    .card-image{
 background: linear-gradient(180deg, #F20790 -9.58%, #05F 126.62%);
       
    }
   
    
   
}
.wrapper:hover .stars1{
  transform: translate(200px);
       
        position: relative;
        transition: 0.4s ease;
}
.wrapper:hover .stars2{
  transform: translate(-200px);
        
        position: relative;
        transition: 0.4s ease;
}
.wrapper:hover #poly2{
    display:block;
    position: relative;
    bottom:180px;
    z-index: 2;
    transition: 0.1s ease;
}
.wrapper:hover #poly{
    display:none;
}
.wrapper:hover  #logo1{
  position: relative;
  /* bottom: 150px; */
  /* top: 5px; */
  top:245px;
  left: 72px;
  z-index: 10;

}
.wrapper:hover #vector{
    display: block;
    position: relative; 
    bottom:43px;
    /* top: 50px; */
    left: 58px;
    z-index: 5;
}
.content {
    position: relative;
  padding: 16px 16px 0 3px;
  z-index: 10;
}
.poppins-bold {
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #2a323c;
  margin: 0;
  text-align: left;
}

.poppins-light {
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgba(42, 50, 60, 0.64);
  text-align: left;
  margin: 0;
}
